.DS_Store

# GP2040-Keyboard-Converter
# Temporary files
GP2040 Keyboard Converter/*/kicad/*.000
GP2040 Keyboard Converter/*/kicad/*.bak
GP2040 Keyboard Converter/*/kicad/*.bck
GP2040 Keyboard Converter/*/kicad/*.kicad_pcb-bak
GP2040 Keyboard Converter/*/kicad/*.kicad_sch-bak
GP2040 Keyboard Converter/*/kicad/*-backups
GP2040 Keyboard Converter/*/kicad/*.kicad_prl
GP2040 Keyboard Converter/*/kicad/*.sch-bak
GP2040 Keyboard Converter/*/kicad/*~
GP2040 Keyboard Converter/*/kicad/_autosave-*
GP2040 Keyboard Converter/*/kicad/*.tmp
GP2040 Keyboard Converter/*/kicad/*-save.pro
GP2040 Keyboard Converter/*/kicad/*-save.kicad_pcb
GP2040 Keyboard Converter/*/kicad/fp-info-cache
GP2040 Keyboard Converter/*/kicad/jlcpcb

# Netlist files (exported from Eeschema)
GP2040 Keyboard Converter/*/kicad/*.net

# Autorouter files (exported from Pcbnew)
GP2040 Keyboard Converter/*/kicad/*.dsn
GP2040 Keyboard Converter/*/kicad/*.ses
